<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Android 9（API 级别 28）或更高版本并使用前台服务，则其必须请求 FOREGROUND_SERVICE 权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@drawable/ic_launcher_apple"
        android:installLocation="internalOnly"
        android:name=".ui.MyApp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_apple"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneCondition"
        tools:targetApi="31">
        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="true"></service>



        <receiver
            android:name=".broadcast.BootupReceiver"
            android:enabled="true"
            android:directBootAware="true"
            android:exported="true"
            tools:ignore="IntentFilterExportedReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>



        <receiver
            android:name=".broadcast.ScreenOnOffReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>



        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:taskAffinity=":splash"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden"
            tools:ignore="TranslucentOrientation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
    </application>

</manifest>